/*    RESET CSS AREA */
:root {
    --display-background:  rgba(79,142,60,0.59);
    --buttons: rgb(27,57,69);
    --display-history: #417a3c;
    --display-current: #333
}
.darkColors {
    background-color: #282828;
}
.lightColors {
    background-color: white;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*FONTS*/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100vh;
	border-radius: 15%;
}
.calculator {
	display: flex;
	flex-direction: column;
    border: 1px solid gray;
    padding: 2px 4px;
    border-radius: 3px;
	max-width: 200px;
	margin: 0 auto;
}

#head-buttons > button {
	border: none;
	padding: 2px;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 50%;
}

.calculator__display {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: space-between;
	height: 100px;
	padding: 0 5px;
    background-color: rgba(79,142,60,0.59);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.3em;
}
.display__history {
	font-size: 20px;
    color: var( --display-history);
}
.display__current {
	font-size: 42px;
    color: var( --display-current);
}
#buttons {
	display: grid;
	grid-template-columns: repeat(4, 30px);
	width: 100%;
	place-items: center;
}

#buttons > button {
	display: block;
	height: 25px;
	width: 25px;
    color: white;
    background-color: var( --buttons);
	border: none;
	border-radius: 20%;
	outline-width: 0;
    margin: 2px 0;
}

.equal important!{
	background-color: greenyellow;
	color: #fff;
}
/*  Top Buttons */
#upper-buttons {
    display: flex;
    height: 12px;
    justify-content: space-between;
    align-items: center;
}
#head-buttons {
    display: flex;
    font-size: 8px;
}
#button-1 {
    margin: 0 1px;
    border-radius: 50%;
	background-color: #fd544d;
    padding: 3px;
}
#button-2 {
    margin: 0 1px;
	background-color:#ffc02f;
    border-radius: 50%;
    padding: 3px;
}
#button-3 {
    margin: 0 1px;
	background-color: #28ca40;
    border-radius: 50%;
    padding: 3px;
}

#switch-container {
    position: relative;
    background-color: green;
    width: 15px;
    height: 8px;
    border-radius: 20px;
}
#switch-color {
    position: absolute;
    background-color: white;
    font-size: 5px;
    padding: 2.5px;
    top: 1.5px;
    border-radius: 20px;
}
.left {
    left: 1.5px;
}
.right {
    right: 1.5px;
}
